@import "compass"
@import "bootstrap"

body
  // 60px to make the container go all the way to the bottom of the topbar
  padding-top: 60px

.body-container
  max-width: 800px

h1,
h2
  text-align: center

// Include responsive Bootstrap styles
@import "bootstrap-responsive"
