.hero
  = image_tag 'hero_bg.jpg', class: 'hero-bg'
  .section-container
    .hero-content
      %span We're getting married!
      %br
      %span.small San Francisco, California
      %br
      %span.small April 26, 2014
